.navbar-brand{
    padding-left: 10px;
}
.Main  {
    margin: 30px;
}
.login{
    margin-left: 10px;
    margin-right: 15px;
}
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.dropdown-menu{
    background-color: #212529;
}
