<p>create-post works!</p>
<div class="container">
    <div  class="user-div"*ngFor="let post of posts">
        <div class="user-id">{{post.id}}</div>
        <div class="user-id">{{post.userId}}</div>
        <div class="user-title">{{post.title}}</div>
        <div class="user-body">{{post.body}}</div>
        <div class="button-div">
            <button (click)='updateDetailInfo()' class="btn" >Update</button>
            <button (click)="deleteDetailInfo()" class="btn" >Delete</button>
        </div>
        <br>
    </div>
    
</div>


